@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100&family=Stylish&display=swap');

body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
background-color:black;
  line-height: 1.6;
}

.topContainer h1{
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
      margin-top: 4.62rem;
      color:white;
      text-shadow: 2px 3px 5px #58bcf7;
}

h2,h3 {
  font-family: 'Montserrat', sans-serif;
  color:white;

}


hr{
  border: 1px solid #a6d6d6;
}

.topContainer{
  height: 70vh;
  padding-top:100px;
  position: relative;
  background-image: url("src/gokuX-black.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 694px;
  margin:0px;
}

.gokuShift{
  position: absolute;
  left: 8%;
  top:26%;
  opacity:0.85;
  
}
.cloudBottom{
  position:absolute;
left:8%;

}
.cloudTop{
  position: absolute;
  right: -10%;
top: 26px;

}

.profile{
  padding-left: 55px;
  width: 200px;
}
.middleContainer{
  padding-top: 100px;
  text-align: left;
opacity:1.5;
color:white;

}
.croc{
  position:absolute;
  width:200px;
  height:200px;
  margin:auto;
}

.bgi{
  background-image: url("src/net.gif");
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed;
    background-color: black;

}
.profile-1{
padding:100px;
}
.bottom-container{
  background-color: inherit;
  color: white;
  font-size: 1rem;
  height: 5vh;
}

.contact-me{
background-color: rgba(255, 255, 255, 0.5);
color: white;
height: 95vh;
}

.about{
  padding-left: 20px;
  opacity: 0.9;
  display:inline-block;
  width:500px;
  }
  
.skills{
  padding-top: 20px;
  color:white;
  text-align: left;
}

.skill-row{
  
  padding: 20px 0 20px 30px;
  color:white;
  text-align: center;
  width: 50%;
  
}
.skill-row>h3{
text-align: left;
  margin-bottom: 20px;
}
.last{
  background-color: #334443;
  font-size:0.75rem;
}

#abt{
  padding-left: 117px;
}
#line{
width:820px;
margin-left: 0;

}
.hpad0{
  padding-left: 175px;

}


.hpad2{
    padding-left: 194px;

}

.footer-link{
  margin:10px;
  color:#34a918;
  text-decoration: none;
}
.footer-link:hover{
  color:white;
}

.p-alpha{
  margin-bottom:0;
}
.madeWith{
  color:black;
}
.madeWith a{
  color:rgb(0, 183, 255);
}
.madeWith a:hover{
  color:white;
  
}
.madeWith span:hover{
  color:white;
  
}

/* media 'responsive' */
 @media (max-width:1094px){
  .topContainer{
    background-image: url("src/gokuX-black-90.png");
  }
    .about{
      padding-left: 0;
      opacity: 1;
     display:static;
    width:auto;
    opacity:1;
    text-align: center;
    }
    #line{
    width:100%;
      }
      .profile{
       text-align: center;
        width: 400px;
        margin:auto;
        padding:10px;
  
      }
      #abt{
        padding-left: 10px;
        font-size: 40px;
      }
      .footer-link{
        font-size:30px;
      }

.contact-me{
  background-color: rgb(0, 0, 0);
  color: white;
  height: 75vh;
  }
      .bottom-container{
        height: 25vh;
        margin:auto;
        padding:10px;
        text-align: center;
      }

} 
.flex{
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
}
.flex>div{

  margin: 10px;
  padding: 20px;
  height: 385px;

}

th,td{
  padding: 15px;
  box-shadow: 5px 10px #000000;
}
@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}
.footer{
  color: white;
  text-align: center;
  padding: 26px;
  
  margin: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: url(src/footeer.gif);
  background-position: 0% 81%;
  background-size: cover;
  
}



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:#f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.project-title{
  color:black;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.mySlides>img{
  width: 700px;
  height: 70vh;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.card{
  grid-template-columns: auto;
}





.card{
  color:black;
}
.card-block {
  min-height: 300px;
}
#firstCard{
  margin-left: 150px;;
}
.card{
  margin:5px;
  width: 350px;
  padding:10px;
}
.card-text{
  color: #515154;
}
.card:hover{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 10px rgba(114, 114, 114, 0.8);
}
.projects-head>.project{
  font-family: 'Fredoka One', cursive;
  
  z-index: 3;
  font-size: 5.62rem;
  position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
@keyframes example {
  from {top: 600px;}
  to {top: 200px;}

}

.projects-head>.arrow{
  font-family: 'Fredoka One', cursive;
  font-size: 5.62rem;
  z-index: 2;
  
  position: relative;
  animation-name: arrow;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
@keyframes arrow {
  from {left:-200px;}
  to {top: 200px; left:0px;}

}