

body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
background-color:black;
  line-height: 1.6;
}
h1{
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
      margin-top: 4.62rem;
      color:white;
      text-shadow: 2px 3px #58bcf7;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:white;

}
h2{
  font-family: 'Montserrat', sans-serif;
  color:white;

}

hr{
  border: 1px solid #a6d6d6;
}

.topContainer{
  padding-top:100px;
  position: relative;
  background-color: black;

}

.cloudBottom{
  position:absolute;
left:30%;

}
.cloudTop{
  position: absolute;
  right: 24%;
top: 49px;

}
.profile{

padding-left: 55px;
  width: 200px;



}
.middleContainer{
  padding-top: 100px;
  text-align: left;
opacity:1.5;
color:white;

}
.croc{
  position:absolute;
  width:200px;
  height:200px;
  margin:auto;
}

.bgi{
  background-image: url("net.gif");
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed;
    background-color: black;

}
.bottom-container{
  background-color: inherit;
  color: white;
  font-size: 1rem;
}

.contact-me{
background-color: black;
color: white;
}

.about{
  padding-left: 20px;

  opacity: 0.9;
  display:inline-block;
  width:500px;
  margin:auto;

}
.skills{
  padding-top: 20px;
  color:white;
  text-align: left;
}
.skill-row{
  padding-top:20px;
  padding-bottom: 20px;
  color:white;
  text-align: left;
}
.last{
  background-color: #334443;
  font-size:0.75rem;
}
#abt{
  padding-left: 117px;
}
#line{


  width:36%;

  margin-left: 0;

}
.hpad0{
  padding-left: 175px;

}
.hpad1{
  padding-left: 196px;

}
.hpad2{
    padding-left: 194px;

}
.BUTTON_DKK {
    background: #0E3765;
    background-image: -webkit-linear-gradient(top, #0E3765, #1E62D0);
    background-image: -moz-linear-gradient(top, #0E3765, #1E62D0);
    background-image: -ms-linear-gradient(top, #0E3765, #1E62D0);
    background-image: -o-linear-gradient(top, #0E3765, #1E62D0);
    background-image: -webkit-gradient(to bottom, #0E3765, #1E62D0);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #FFFFFF;
   font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 200;
    padding: 12px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: -12px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0 auto 20px;
}
.BUTTON_DKK:hover {
   border: groove #FFFFFF 1px;
   background: #429552;
   background-image: -webkit-linear-gradient(top, #429552, #3D94F6);
   background-image: -moz-linear-gradient(top, #429552, #3D94F6);
   background-image: -ms-linear-gradient(top, #429552, #3D94F6);
   background-image: -o-linear-gradient(top, #429552, #3D94F6);
   background-image: -webkit-gradient(to bottom, #429552, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}



.footer-link{
  margin:10px;
  color:#34a918;
  text-decoration: none;
}
.footer-link:hover{
  color:white;
}

.p-alpha{
  margine-bottom:0;
}
